extends ../layout
include ../mixins/form-helpers

block content

  form#ninjago-form.form-horizontal(action="/ninjagos/create", method="POST")
    fieldset
      legend Create a new Ninjago

      include form

    .form-group
      .col-md-offset-2.col-md-10
        a.btn.btn-warning(href="/ninjagos") Back
        | &nbsp;
        button.btn.btn-primary(type="submit") Create
