+formGroup(ninjago, 'name')
  +label("name", "Name")
  .col-md-6
    +text("name", ninjago.name)
    +errorMessage(ninjago, 'name')
+formGroup(ninjago, 'color')
  +label("color", "Color")
  .col-md-6
    +text("color", ninjago.color)
    +errorMessage(ninjago, 'color')
+formGroup(ninjago, 'power')
  +label("power", "Power")
  .col-md-6
    +text("power", ninjago.power)
    +errorMessage(ninjago, 'power')
+formGroup(ninjago, 'weapon')
  +label("weapon", "Weapon")
  .col-md-6
    +text("weapon", ninjago.weapon)
    +errorMessage(ninjago, 'weapon')
+formGroup(ninjago, 'found')
  +label("found", "Found")
  .col-md-6
    +text("found", ninjago.found)
    +errorMessage(ninjago, 'found')
+formGroup(ninjago, 'turns')
  +label("turns", "Turns")
  .col-md-6
    +text("turns", ninjago.turns)
    +errorMessage(ninjago, 'turns')
